<section class="FilmView" ng-controller="Film as film">
	<section class="VideoGenres">
		<nav>
			<ul>
				<li ng-click="film.genre = 'Highlights'" ng-class="{current: film.genre === 'Highlights'}">Highlights</li>
				<li ng-click="film.genre = 'Comedy'" ng-class="{current: film.genre === 'Comedy'}">Comedy</li>
				<li ng-click="film.genre = 'Drama'"  ng-class="{current: film.genre === 'Drama'}">Drama</li>
				<li ng-click="film.genre = 'Miscellaneous'" ng-class="{current: film.genre === 'Miscellaneous'}">Miscellaneous</li>
			</ul>
		</nav>
		<div class="carousel">
			<figure class="video" youtube-url>
				<iframe src="" allowfullscreen></iframe>
			</figure>
			<button class="prevButton" ng-click="film.back()">&lt;</button>
			<button class="nextButton" ng-click="film.forward()">&gt;</button>
		</div>
	</section>
</section>
